@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,600;6..12,800&display=swap');
* {
    margin: 0;
    padding: 0;
}

.box {
    background-color: rgba(43, 56, 68, 1);
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
}

.logo {
    color: #fff;
    font-family: 'Nunito Sans';
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.darkMode {
    color: #fff;
    font-family: 'Nunito Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: inline-flex;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
}
